:root {
    --main-color: #5d38b5;
    --text-color: #fafafa;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, #root {
    width: 100vw;
    height: 100vh;
}

body, input, button, textarea {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 400;
}