.app {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 36px;

    background: var(--main-color);
    color: var(--text-color);
}

.container {
    position: relative;

    width: 100%;
    max-width: 1100px;

    height: 100%;
    max-height: 900px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.landing {
    transform: translateY(-8%);
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%;
    height: auto;
}

.useless-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 0.75rem;
}

@media (max-width: 800px) {
    .useless-info {
        font-size: 0.65rem;
    }
}

@media (max-width: 360px) {
    .useless-info {
        font-size: 0.5rem;
    }
}